@model List<IDS325L___ProyectoFinal___Índice_académico.Models.Persona>


<h1>IndexDocentes</h1>

<a class="btn btn-success btn-sm" asp-action="CreateDocentes" asp-controller="Persona" asp-route-Matricula="0">Crear Docentes</a>

<table class="table">
    <thead>
        <tr>
            <th>Matricula</th>
            <th>Carrera</th>
            <th>Área académica</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo electronico</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Matricula</td>
                <td>@item.Carrera</td>
                <td>@item.CodigoArea</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.CorreoElectronico</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="CreateDocentes" asp-controller="Persona" asp-route-Matricula="@item.Matricula">Editar</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Persona" asp-route-Matricula="@item.Matricula">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
