<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cálculo de Índice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IDS325L___ProyectoFinal___Índice_académico.styles.css" asp-append-version="true" />
</head>
@using IDS325L___ProyectoFinal___Índice_académico.Controllers
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex container justify-content-between"> 
                    <ul class="navbar-nav flex-grow-1">
                       
                        @if (User.IsInRole("1"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Persona" asp-action="IndexEstudiantes">Estudiante</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Persona" asp-action="IndexDocentes">Docente</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Asignaturas" asp-action="Index">Asignatura</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Seccion" asp-action="Index">Secciones</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Calificacion" asp-action="Index">Revisión</a>
                            </li>
                        }


                        @if (User.IsInRole("2"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CalificacionesEstudiantes" asp-action="Index" asp-route-Matricula="@HomeController.usuario.Matricula">Calificaciones</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CalificacionesEstudiantes" asp-action="Ranking" asp-route-Matricula="@HomeController.usuario.Matricula">Ranking</a>
                            </li>
                        }

                        @if (User.IsInRole("3"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Calificacíon" asp-action="Index" asp-route-Matricula="@HomeController.usuario.Matricula">Calificaciones</a>
                            </li>
                        }

                        <li class="nav-item d-flex ms-100">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CerrarSesion">Salir</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     <footer class="border-top footer text-muted">
        <div class="container d-flex align-items-center h-100">
           <div>&copy; 2022 - IDS325___Indice_academico -</div>  <a class="btn text-white ms-auto" asp-area="" asp-controller="Home" asp-action="Help">?</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
