@model IDS325L___ProyectoFinal___Índice_académico.Models.ViewModels.DocentesCalificacionesVM

@{
    ViewData["Title"] = "EditarCalificacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditarCalificacion</h1>


<div class="row">
    <div class="col-sm-4">
        <form asp-controller="Docente" asp-action="EditarCalificacion" method="post">
            <input type="" asp-for="oCalificacion.IdCalificacion"/>
            <div class="mb-2">
                <label>Matricula del estudiante</label>
                <input name="Matricula" asp-for="oCalificacion.Matricula" disabled>
            </div>
            <div class="mb-2">
                 <input type="" name="IdAsignatura" asp-for="oCalificacion.IdAsignatura"/>
            </div>
           <div class="mb-2">
                 <input type="" name="IdSeccion" asp-for="oCalificacion.IdSeccion"/>
            </div>
            <div class="mb-2">
                <input type="" name="Trimestre" asp-for="oCalificacion.Trimestre"/>
            </div>
            <div class="mb-2">
                <input type="" name="Nota" asp-for="oCalificacion.Nota"/>
            </div>
            <div class="mb-2">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Asignatura</th>
            <th>Seccion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.oListaRevision)
        {
            <tr>
                @if(item.MatriculaNavigation != null)
                {
                    <td>@item.MatriculaNavigation.Matricula - @item.MatriculaNavigation.Nombre @item.MatriculaNavigation.Apellido</td>
                }
                else
                {
                    <td>@item.Matricula</td>
                }
               
                @if (item.IdAsignaturaNavigation != null)
                {
                    <td>@item.IdAsignaturaNavigation.CodigoAsignatura - @item.IdAsignaturaNavigation.NombreAsignatura</td>
                }
                else
                {
                    <td></td>
                }
                 @if (item.Id != null)
                {
                    <td>@item.Id.NumeroSeccion</td>
                    <td>@item.Nota</td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    <a class="btn" asp-action="EditarCalificacion" asp-controller="Docente" asp-route-IdCalificacion="@item.IdCalificacion" asp-route-Matricula="@item.Matricula" asp-route-IdAsignatura="@item.IdAsignatura" asp-route-Trimestre="@item.Trimestre" asp-route-IdAsignatura="@item.IdAsignatura">Seleccionar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


