@model List<IDS325L___ProyectoFinal___Índice_académico.Models.Calificacion>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Publicación</h1>


<table class="table">
    <thead>
        <th>Nombre del estudiante</th>
        <th>Nombre de la asignatura</th>
        <th>Número de la sección</th>
        <th>Calificación</th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MatriculaNavigation.Nombre @item.MatriculaNavigation.Apellido</td>
                <td>@item.IdAsignaturaNavigation.CodigoAsignatura - @item.IdAsignaturaNavigation.NombreAsignatura</td>
                <td>
                    @item.IdSeccion
                </td>
                <td>
                    @item.Nota
                </td>
                @if(@item.Nota == null)
                {
                    <td>
                        <a class="btn btn-success btn-sm" asp-action="Publicar" asp-controller="Calificacion" asp-route-Trimestre="@item.Trimestre" asp-route-IdAsignatura="@item.IdAsignatura"  asp-route-Matricula="@item.Matricula" >Publicar</a>
                    </td>
                }
                else
                {
                    <td>Publicado</td>
                }
                <td>
                </td>
            </tr>
        }
    </tbody>

</table>

<div>

</div>