@model List<IDS325L___ProyectoFinal___Índice_académico.Models.Seccion>


@{
    ViewData["Title"] = "IndexAsignaturasDocente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Seleccionar Asignatura a Evaluar</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Asignatura</th>
                <th>Sección</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.IdAsignaturaNavigation.CodigoAsignatura - @item.IdAsignaturaNavigation.NombreAsignatura</td>
                    <td>@item.NumeroSeccion</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="IndexPublicar" asp-controller="Calificacion" asp-route-IdAsignatura="@item.IdAsignatura" asp-route-IdSeccion="@item.IdSeccion" asp-route-Trimestre="ViewBag.Trimestre" asp-route-Matricula="@item.Matricula">Publicar</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>


       





            