@model IDS325L___ProyectoFinal___Índice_académico.Models.ViewModels.AsignarEstudiantesVM
@{
    ViewData["Title"] = "CreateAsignarEstudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateAsignarEstudiantes</h1>



<div class="row">
    <div class="col-sm-4">
        <form asp-controller="Seccion" asp-action="CreateAsignarEstudiantes" method="post">
            <input type="hidden" asp-for="oCalificacion.IdCalificacion"/>
            <div class="mb-2">
                <label>Matricula del estudiante</label>
                <input name="Matricula" asp-for="oCalificacion.Matricula"/>
            </div>
            <div class="mb-2">
                 <input type="hidden" name="IdAsignatura" asp-for="oCalificacion.Id.IdAsignatura"/>
            </div>
            
            <div class="mb-2">
                <input type="hidden" name="IdSeccion" asp-for="oCalificacion.Id.IdSeccion"/>
            </div>
            <div class="mb-2">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Asignatura</th>
            <th>Seccion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.oListaCalificaciones)
        {
            <tr>
                @if(item.MatriculaNavigation != null)
                {
                    <td>@item.MatriculaNavigation.Matricula - @item.MatriculaNavigation.Nombre @item.MatriculaNavigation.Apellido</td>
                }
                else
                {
                    <td>@item.Matricula</td>
                }
               
                @if (item.IdAsignaturaNavigation != null)
                {
                    <td>@item.IdAsignaturaNavigation.CodigoAsignatura - @item.IdAsignaturaNavigation.NombreAsignatura</td>
                }
                else
                {
                    <td></td>
                }
                 @if (item.Id != null)
                {
                    <td>@item.Id.NumeroSeccion</td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    <a class="btn"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
