@model List<IDS325L___ProyectoFinal___Índice_académico.Models.Calificacion>

<table class="table">
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Asignatura</th>
            <th>Seccion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if(item.MatriculaNavigation != null)
                {
                    <td>@item.MatriculaNavigation.Matricula - @item.MatriculaNavigation.Nombre @item.MatriculaNavigation.Apellido</td>
                }
                else
                {
                    <td>@item.Matricula</td>
                }
               
                @if (item.IdAsignaturaNavigation != null)
                {
                    <td>@item.IdAsignaturaNavigation.CodigoAsignatura - @item.IdAsignaturaNavigation.NombreAsignatura</td>
                }
                else
                {
                    <td></td>
                }
                 @if (item.SeccionNavegation != null)
                {
                    <td>@item.SeccionNavegation.NumeroSeccion</td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    <a class="btn"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
